.anki-unlearned {
  outline-offset: 1px;
}

.anki-learning {
  outline-offset: 1px;
}

.anki-learned {
  outline-offset: 1px;
}

.anki-duplicate::after {
  content: "✦";
  font-size: 0.5em;
  vertical-align: super;
  opacity: 0.55;
  margin-left: 1px;
}

.anki-hide-furigana rt {
  visibility: hidden;
}
